
 <h1>投稿編集</h1>
 
  <%= form_with model: @post, url: public_post_path(@post.id), local:true do |f| %>

   <%= attachment_image_tag @post, :image, class: "card img-square", fallback: "no_image.jpg", size: "auto" %>
 
    <%= f.attachment_field :image, id: "image" %>
     <p>ドライブ先</p>
     <%= f.text_field :title %>

     <p>感想</p>
     <%= f.text_area :body %>
          <%= f.submit '更新', class: "btn-sm btn-success" %>
     <% end %>
      <%= link_to  public_post_path(@post.id,),method: :delete, "data-confirm"=>"本当に消しますか？" do %>
       <button type="button" class="btn-sm btn-danger">削除する</button>
      <% end %>






 



        <script>
           $(function() {
               $('#image').on('change', function() {
                   var selectedFile = this.files[0];
                   var fileReader = new FileReader();
                   fileReader.onload = function(event) {
                       var loadedImageUri = event.target.result;
                        $('.img-square').attr('src', loadedImageUri);
                   };
                   fileReader.readAsDataURL(selectedFile);
               });
           });
           </script>






















