<div class="container">
  <h1>新規投稿</h1>
  <div class="row justify-content-md-center">
   <div class="col-md-auto">
    <%= form_with model: @post, url: public_posts_path, local:true do |f| %>
     <div class="card">
     <div class="card-img-top" alt="card-img-top"><%= attachment_image_tag @post, :image, class: "card img-square", fallback: "no_image.jpg", size: "auto" %></div>
      <%= f.label :"ドライブ先" %>
      <%= f.attachment_field :image, id: "image" %>
     <div class="card-body ">
      <h5 class="card-title">
       <p>ドライブ先</p>
       <%= f.text_field :title %>
      </h5>
      <p class="card-text">
       感想
       <%=f.text_area :body %>
      </p>
      <%= f.submit '投稿する' %>
     </div>

    </div>
   <% end %>
  </div>
</div>
</div>

<script>
$(function() {
    $('#image').on('change', function() {
        var selectedFile = this.files[0];
        var fileReader = new FileReader();

        fileReader.onload = function(event) {
            var loadedImageUri = event.target.result;
             $('.img-square').attr('src', loadedImageUri);
        };

        fileReader.readAsDataURL(selectedFile);
    });
});
</script>














