<div class="container">
 <div class="row row-cols-1">

       <% if @drive.errors.any? %>
         <h3><%= @drive.errors.count %>エラーが発生しました</h3>
          <ul>
            <% @drive.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>





  <h1>行きたい場所登録</h1>
  <%= form_with model: @drive, url: public_drives_path, local:true do |f| %>
   <%= f.text_field :address %>
   <%= f.submit '登録' %>
  <% end %>



  <h2>GoogleMap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" >

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="検索" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 500px;
  width: 500px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.68944, lng: 139.69167},
  zoom: 13
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KYE'] %> &callback=initMap" async defer></script>







 </div>
</div>






