
<h1>マイページ編集</h1>

<%= form_with model: @user, url: public_user_path(@user.id), local:true do |f| %>

 <label>ニックネーム</label>
 <%= f.text_field :name %>
 <label>メールアドレス</label>
 <%= f.email_field :email %>
 <label>プロフィール画像</label>
 <%= f.attachment_field :profile_image %>
 <label>プロフィール</label>
 <%= f.text_field :introduction %>
 <%= f.submit '保存する' %>
<% end %>

<%= link_to "退会する", public_users_quit_path %>