<h1>Public::Users#edit</h1>
<p>Find me in app/views/public/users/edit.html.erb</p>


ユーザー編集画面<br>
出来ること<br>
登録情報の変更<br>
メールアドレス、パスワード、名前（ニックネーム）、自己紹介文


<%= form_with model: @user, url: public_user_path(@user.id), local:true do |f| %>

 <label>ニックネーム</label>
 <%= f.text_field :name %>
 <label>プロフィール画像</label>
 <%= f.attachment_field :profile_image %>
 <label>プロフィール</label>
 <%= f.text_field :introduction %>



 <%= f.submit '保存する' %>
<% end %>

<%= link_to "退会する", public_users_quit_path %>