<div class="container">
     <% if @user == current_user %>
    <h1>マイページ</h1>
    <% else %>
    <h1>ユーザーページ</h1>
    <% end %>
  <div class="row row-cols-2">
   <div class="col-md-auto">
    <div class="p-1 border bg-light">
     <div class="card h-100">
      <div class="card-img-top" alt="card-img-top"><%= attachment_image_tag @user, :profile_image, size: 'auto', fallback: "no_image.jpg" %></div>
      <div class="card-body">
       <h4 class="card-title">
       <label>ニックネーム</label>
       <%= @user.name %></h4>
       <p class="card-text">
        <label>プロフィール</label><br>
        <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
       </p>
      </div>
     </div>


     <% if @user == current_user %>
      <%= link_to edit_public_user_path(current_user) do %><br>
       <button type="button" class="btn-sm btn-info">プロフィール編集</button>
      <% end %>
      <h4>行きたい場所</h4>
      <% @drives.each do |drive| %>
       <%= drive.address %><br>
      <% end %>
      <%= link_to public_drives_path do %>
       <button type="button" class="btn-sm btn-primary">行きたい場所一覧</button>
      <% end %>
      <%= link_to new_public_drife_path do %>
       <button type="button" class="btn-sm btn-success">行きたい場所の登録</button>
      <% end %>
     <% end %>
    </div>
   </div>
   <div class="col-md-auto">
     <h2>投稿一覧</h2>
     <% @posts.each do |post| %>
     <div class="p-1 border bg-light">
      <div class="card">
       <div class="img-fluid" alt="card-grid-image">
        <%= attachment_image_tag post, :image, format: 'jpeg', size: '200' %>
       </div>
       <div class="card-body m-auto">
       <h5 class="card-title">
        <h4>お出かけ先</h4>
        <%= link_to post.title, public_post_path(post.id)  %>
       </h5>
       <p class="card-text">
        <h4>投稿者</h4>
        <%= link_to post.user.name, public_user_path(post.user_id) %>
       </p>
       <p class="card-text"><small class="text-muted"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
      </div>
      </div>
     </div>
    <% end %>
    <%= paginate @posts %>
   </div>
   </div>

</div>














